(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
"ya-tifi",
"yab-tifi",
"yag-tifi",
"yad-tifi",
"yadd-tifi",
"yey-tifi",
"yaf-tifi",
"yak-tifi",
"yah-tifi",
"yahh-tifi",
"yaa-tifi",
"yakh-tifi",
"yaq-tifi",
"yi-tifi",
"yazh-tifi",
"yal-tifi",
"yam-tifi",
"yan-tifi",
"yu-tifi",
"yar-tifi",
"yarr-tifi",
"yagh-tifi",
"yas-tifi",
"yass-tifi",
"yash-tifi",
"yat-tifi",
"yatt-tifi",
"yaw-tifi",
"yay-tifi",
"yaz-tifi",
"yazz-tifi",
"labialization-tifi",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
space,
.notdef,
"separator-tifi",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
asterisk,
numbersign,
slash,
backslash,
exclamdown.case,
questiondown.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
rolandhusedesign,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
plusminus,
asciitilde,
logicalnot,
percent,
asciicircum,
micro,
perthousand,
"consonantjoiner-tifi"
)