(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
"ya-tifi",
"yab-tifi",
"yag-tifi",
"yad-tifi",
"yadd-tifi",
"yey-tifi",
"yaf-tifi",
"yak-tifi",
"yah-tifi",
"yahh-tifi",
"yaa-tifi",
"yakh-tifi",
"yaq-tifi",
"yi-tifi",
"yazh-tifi",
"yal-tifi",
"yam-tifi",
"yan-tifi",
"yu-tifi",
"yar-tifi",
"yarr-tifi",
"yagh-tifi",
"yas-tifi",
"yass-tifi",
"yash-tifi",
"yat-tifi",
"yatt-tifi",
"yaw-tifi",
"yay-tifi",
"yaz-tifi",
"yazz-tifi",
"labialization-tifi",
one,
five,
six,
eight,
nine,
zero,
two,
three,
four,
seven,
space,
"separator-tifi",
hyphen,
period,
comma,
rolandhusedesign,
"consonantjoiner-tifi"
)