{
displayStrings = (
"ⴱⴳ
ⵀⵃ
ⴽⵜ
ⵜⵃ

ⵡⵟ
ⵊⵍ
ⵍⵡ
ⵓⵔ
ⵙⵚ
10
11
12
13
14

ⵙⵚⵜⵃ
ⵚⵀ10
ⵜⵃⵚⵃ
ⵜⵃ14
ⵚⵀⵚⵃ",
"ⴰⵔⵔⴱⴳⴷⵎⴹⵓⴻⴼⴽⵜⵀⵃⵄⵅⵇⵉⵊⵍⵎⵏⵓⵔⵕⵖⵙⵚⵛⵏ2ⵜ.ⵟⵡⵟⵢⵣⵥ",
"ⴰⴱ#ⴳⴷⴹⵓⴻⴼⴽⵀⵃⵄⵅⵇⵉⵊⵍⵎⵏⵓⵔⵕⵖⵙⵔⵕⵚⵛⵜⵟⵡⵢⵣⵥ",
"ⵄⵖⵔⴱⵖⵣ",
"0125",
"6",
"1",
"01169",
",",
".",
"ⴱ",
"ⴰⴱⴳⴷⴹⴻⴼⴽⵀⵃⵄ
ⵅⵇⵉⵊⵍⵎⵏⵓⵔⵕⵖⵙ
ⵚⵛⵜⵟⵡⵢⵣⵥ",
"01",
"8210",
"0123456789",
"‚„‘“’”'\"",
"*",
"13
ⵙⵢ6
ⵜⵃ
ⵚⵀ

ⵢⵙ12
ⵢ61011
ⵢ61011
ⵢⵜⵯⵙ
ⵢⵜⵢⵙ
ⵯⵃ12
ⵯ81412
ⵯ61412ⵯ0
ⵯ812ⵯ0
ⵯ3ⵯ8
ⵢ⵰ⵢ6ⵚⵃ
ⵯ8ⵯ0
ⵢ⵰ⵚⵃ
ⵜ_ⵯⵙ
ⵢ/questiondown.case ⵜ¿
ⵢ-ⵜ¿
ⵢ_ⵚ_
ⵢ_ⵚ.
ⵢ.ⵚ.
ⵇⵜⵜ.
ⵢ‚ⵜ*
ⵢ⵰ⵯⵀ
ⵢⵃⵢ6
ⵢ__ⵚ",
"13
ⵙⵚ
ⵚⵀ
ⵢ4
ⵢⵜ
ⵜⵯ
ⵯⵜ
ⵢ0
ⵯ4
ⵯ6
ⵢⵄ
ⵢⵔ
ⵢ«
ⵚ*
ⵢ.
ⵇⵜ
ⵯ0
14
ⵢ‚
ⵜ_
ⵚ_

ⵢⵙⵢⵔ
ⵜ*ⵚ*",
"13
ⵙⵚ
ⵚⵀ
ⵢ4
ⵢⵜ
ⵜⵯ
ⵯⵜ
ⵢ0
ⵯ4
ⵯ6
ⵢⵄ
ⵢ«
ⵯ0
14
ⵢ‚
ⵜ_
ⵚ_
ⵜ'
ⵜ‚

ⵜⵣⵢⵄ",
"["
);
}
